.queenCard {
    width: calc((100% / 3) - 20px);
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.queenCardWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.cardContainer {
    width: 100%;
}

.queenCard div {
    text-align: center;
}

img {
    width: 100%;
}

.queenCard img {
    width: 100%;
    height: 25vw;
    object-fit: cover;
    object-position: top center;
    overflow: hidden;
}

h3 {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    color: hotpink;
    font-size: 30px;
}

.button {
    background-color: #a855da;
    border: none;
    margin: 10px 20%;
    width: 60%;
    padding: 20px;
    line-height: 1;
    color: white;
    display: block;
    text-decoration: none;
}

.button:hover {
    background-color: #e44bba;
    cursor: crosshair;
}

.button:focus {
    background-color: #e44bba;
}

@media screen and (max-width: 860px) {
    .queenCard {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 560px) {
    .queenCard {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .queenCard img {
        width: 80%;
        text-align: center;
    }

    .queenCardWrapper {
        justify-content: center;
        padding: 0;
    }
    
    .wrapper {
        width: 85%;
    }

    /* .button {
        width: 200px;
        margin: 0;
    } */
}