.featureWrapper {
    padding: 20px;
    border: 10px solid white;
    margin: 30px auto 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.featureImageContainer {
    width: calc(50% - 20px);
    align-self: stretch;
    background-color: white;
}

.featureInfoPanel {
    width: calc(50% - 20px);
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
}

h2 {
    text-align: center;
    width: 100%;
    padding: 25px;
    font-size: 75px;
}

.quote {
    width: 60%;
    margin: 20px 20%;
    text-align: center;
}

.icon {
    color: hotpink;
    border: 2px solid hotpink;
    font-size: 50px;
    position: absolute;
    right: -28px;
    top: -28px;
    background-color: white;
    border-radius: 50%;
    line-height: 0.8;
    font-family: Arial, Helvetica, sans-serif;
}

.icon:hover {
    color: #a87de7;
    border: 2px solid #a87de7;
}

@media screen and (max-width: 1000px) {
    .featureImageContainer, .featureInfoPanel {
        width: 80%;
        margin: 0 10%;
    }
    .featureWrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    div.featureInfoPanel {
        margin-top: 20px;
    }
}

@media screen and (max-width: 700px) {
    .featureImageContainer, .featureInfoPanel {
        width: 90%;
        margin: 0 5%;
    }
}

@media screen and (max-width: 500px) {
    .featureWrapper {
        padding: 5px;
    }
    
    .featureImageContainer, .featureInfoPanel {
        width: 100%;
        margin: 0;
    }

    h2 {
        font-size: 40px;
    }
}